@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";


body {
	background-color: #fff;
	@include bodyFont(16px, $black);
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

h1 {
	@include headingFont(72px, $black);
	text-align: center;
	background-color: rgba(239, 216, 225, 0.75);
	display: inline-block;
	padding: 10px 20px;
}

p {
	@include bodyFont(16px, $black);
}

a {
	text-decoration: none;
	color: $grey;
	text-transform: uppercase;
}

h2 {
	@include headingFont(45px, $black);
	background-color: transparent;
	text-align: center;
	display: block;
	width: 100%;
	letter-spacing: 1px;
}

form {
	margin: 50px 0;
	font-style: italic;
	width: 100%;
}

label[for=location] {
	text-transform: lowercase;
	font-style: italic;
	display: block;
	margin-bottom: 5px;
}

input[type=text], input[type=number] {
	font-family: "Lato", sans-serif;
	background-color: $pink;
	color: $black;
	outline: none;
	border: none;
	border-radius: 2px;
	padding: 10px 20px;
	margin-right: 10px;
	&:focus {
		outline: 1px solid $purple;
	}
}

input[type=submit] {
	background-color: $grey;
	border: none;
	border-radius: 2px;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.5s;
	&:hover {
		background-color: $black;
	}
}

button.findGeolocation {
	padding: 10px 20px;
	border: none;
	border-radius: 2px;
	background-color: $grey;
	color: white;
	text-transform: uppercase;
	transition: all 0.5s;
	&:hover {
		background-color: $black;
	}
}

.homeWrapper {
	background-image: url(../assets/hero_2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

section.home {
	margin: 0 auto;
	height: 100vh;
	text-align: center;
	max-width: 650px;
	padding: 0 10px;
	.content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.homeOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(239, 216, 225, 0.4);
}

section.categories {
	margin-top: 100px;
	h3 {
		@include headingFont(30px, $black);
		text-align: center;
		display: inline-block;
		background-color: rgba(239, 216, 225, 0.75);
		padding: 10px;
		margin: 40px 0 0px 40px;
	}
	.logo {
		display: none;
	}
	.grid {
		max-width: 1000px;
		margin: 0 auto;
		h2 {
			margin-top: 10px;
		}
	}
	.squareCategory {
		height: 250px;
		width: 33.3%;
		margin-bottom: 40px;
		float: left;
		text-align: center;
		position: relative;
		.imageContainer {
			width: 250px;
			height: 100%;
			text-align: center;
			position: relative;
			display: inline-block;
		}
		img {
			width: 100%;
		}
		.overlay {
			height: 75px;
			width: 250px;
			background: linear-gradient(to bottom, #fff, $purple);
			opacity: 0.7;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			p {
				@include bodyFont(14px, $grey)
				text-align: center;
				text-transform: uppercase;
				margin-top: 25px;
			}
		}
	}
}

section.listings {
	border: 1px solid red;
	margin: 100px 0;
	h2 {
		@include headingFont(40px, white);
		text-align: left;
	}
	aside {
		#formSidebar {
			label {
				font-size: 14px;
				display: block;
				margin-bottom: 5px;
			}
			input[type=text] {
				width: 65%;
				padding: 10px;
				margin-right: 10px;
			}
			input[type=submit] {
				width: 30%;
				padding: 10px;
			}
		}
		padding: 30px 15px;
		// width: 30%;
		width: 300px;
		background-color: $purple;
		float: left;
		height: auto;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline-block;
			width: 100%;
			li {
				margin: 10px;
				font-size: 14px;
			}
		}
		.price {
			p:first-of-type {
				display: block;
				margin: 5px 0;
			}
			p {
				display: inline-block;
				margin: 0 10px;
				font-style: italic;
			}
			input[type=number] {
				width: 50px;
				padding: 5px;
				font-size: 12px;
				margin-left: 5px;
			}
		}
	}
	.eachItem {
		float: left;
		width: 20%;
		margin: 20px;
		p {
			font-size: 14px;
		}
	}
}



.pgNumButtonsContainer button {
	background-color: $grey;
	border: none;
	color: #fff;
	height: 50px;
	width: 50px;
	margin: 2px;
	text-align: center;
	&:hover {
		background-color: $black;
	}
	&:active {
		background-color: red;
	}
}

button.currentPg {
	color: rgba(51, 51, 51, 0.75);
	background-color: rgba(142, 142, 142, 0.4);
	&:hover {
		background-color: $black;
		color: white;
	}
}

// RESPONSIVE
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1 {
		@include headingFont(60px, $black);
	}

	section.categories {
		h3 {
			margin: 20px 0 0px 20px;
		}
		.squareCategory {
			width: 50%;
		}
		.grid {
			h2 {
				font-size: 35px;
			}
		}
	}

	.pgNumButtonsContainer button {
		height: 40px;
		width: 40px;
		margin: 3px;
	}
}

// Category section break to single column
@media (max-width: 550px) {
	section.categories {
		.squareCategory {
			width: 100%;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		@include headingFont(50px, $black);
		margin: 20px 0;
	}

	form {
		margin: 20px 0;
	}


	input[id=location] {
		margin-bottom: 5px;
	}

	section.categories {
		h3 {
			display: none;
		}
		.logo {
			display: block;
			background-color: white;
			width: 75px;
			height: 75px;
			margin: 10px 0 0 10px;
		}
	}
		.pgNumButtonsContainer button {
			height: 33px;
			width: 33px;
			margin: 5px;
	}
}